{% extends 'base/base.html' %}

{% block content %}
<div class="container base">
    <h3>Assembly</h3>
    <p>{{ assembly }}</p>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <ul>
        <li>Date: {{assembly.date}}</li>
        <li>Quorum: {{assembly.quorum}}</li>
        <li>Agenda: {{assembly.agenda}}</li>
    </ul>
    <hr>

    <h3>Motions</h3>
    <ul>
    {% for motion in motion_set.all %}
        <li><a href= "{% url 'cgeassembly:motiondetail' motion.id %}">{{ motion.motion_text }}</a></li>
    {% endfor %}
    </ul>
</div>

{% endblock %}