{% extends 'base/base.html' %}

{% block content %}
<div class="container base">
    <h3>Motion</h3>
    <p name="motion-desc">{{ motion }}</p>

    {% if error_message %}<p name="vote-error"><strong>{{ error_message }}</strong></p>{% endif %}
    {% if motion.voteable %}
        <form action = "{% url 'cgeassembly:vote' motion.id %}" method = "post">
        {% csrf_token %}
        {% for choice in motion.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
        {{form.non_field_errors}}
        <input name="vote-btn" type="submit" value="Vote">
        </form>
    {% else %}
        <p name="voting-closed">Voting is not open at the moment</p>
    {%endif%}
    <a style="align-content: center" href= "{% url 'cgeassembly:motionresults' motion.id %}">View Results</a>
    <hr>

    <h3>Amendments</h3>
        {% if motion.original_motion.all %}
            {% for amendment in motion.original_motion.all %}
                <li><a href= "{% url 'cgeassembly:motiondetail' amendment.id %}">{{ amendment.motion_text }}</a></li>
            {% endfor %}
        {% else %} <p name="no-amendments-msg">No amendments</p>
        {%endif%}
</div>

{% endblock %}