{% extends 'base/base.html' %}

{% block content %}
<div class="container base">
    <h3>Motion</h3>
    <p>{{ motion }}</p>
    <hr>

    {% if not motion.voteable or motion.archived%}
        <ul>
            <li>A favor: {{ motion.a_favor }} </li>
            <li>En contra: {{ motion.en_contra }} </li>
            <li>Abstenido: {{ motion.abstenido }} </li>
        </ul>
    {% else %}
        <h3 name="vote-not-concluded-msg">Voting has not concluded yet.</h3>
    {%endif%}
</div>
{% endblock %}